# 1 Write a program to accept percentage from the user and display the grade

In [1]:
percentage = float(input("Enter your percentage: "))

if percentage >= 90:
    grade = 'A'
elif percentage > 80 and percentage <= 90:
    grade = 'B'
elif percentage >= 60 and percentage <= 70:
    grade = 'C'
else:
    grade = 'D'
print(f"Your grade is: {grade}")

Enter your percentage: 90
Your grade is: A

# 2 Write a program to accept the cost price of a bike and display the road tax to be paid according to following crietria

In [2]:
cost_price = float(input("Enter cost of your bike"))

if cost_price >10000:
    tax = cost_price * 0.15
elif cost_price >50000 and cost_price <=100000:
    tax = cost_price * 0.10
else:
    tax = cost_price * 0.05
print(f"The road tax to be paid for the bike is: {tax:.2f}")

Enter cost of your bike100000
The road tax to be paid for the bike is: 15000.00

# 3 Accept any city from user and display monuments of that city

In [3]:
city_monuments = {
    "Delhi": "Red Fort",
    "Agra": "Taj Mahal",
    "Jaipur": "Jal Mahal"
}
city = input("Enter Your City:")

if city in city_monuments:
        print(f"The monument in {city} is the {city_monuments[city]}.")
else:
    print(f"Sorry, no monument information available for {city}.")

Enter Your City:Delhi
The monument in Delhi is the Red Fort.

# 4 Check how many times a given number can be divided by 3 before it is less than or equal to 10

In [6]:
num = int(input("Enter your number"))

count = 0
while num>10:
    num /=3
    count = count + 1
print(f"The number can be divided by 3 {count} times before it becomes less than or equal to 10.")

Enter your number500
The number can be divided by 3 4 times before it becomes less than or equal to 10.

# 5 Use nested while loop to print 3 different pattern

# 1 Right Angle Triangle

In [ ]:
rows = 5
i = 1
while i <= rows:
    j = 1
    while j<= i:
        print('*',end = '')
        j = j+1
    print()
    i = i+1

# 2 Inverted Right Angled Triangle

In [ ]:
rows = 5
i = rows
while i >= 1:
    j = 1
    while j <= i:
        print("*",end='')
        j+= 1
    print()
    i-= 1

# 3 Pyramid Pattern

In [ ]:
rows = 5
i = 1
while i<= rows:
    j = 1
    while j<= rows-i:
        print('',end='')
        j+= 1
    j = 1
    while j <= (2 * i - 1):
        print('*', end='')
        j += 1
    print()
    i += 1

# 7 Reverse a while loop to display number from 10 to 1

In [ ]:
number = 10
while number > 1:
    print(number)
    number = number - 1